 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MPH in Quantitative Methods</h4>
    <h5 class="meta">The University of Iowa</h5>
    <div class="time">2017 - 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BA in General Sciences-Biology</h4>
    <h5 class="meta">Grinnell College</h5>
    <div class="time">2013 - 2017</div>
</div><!--//item-->
</div><!--//education-container-->
