<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Professional Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Statistics Teaching Assistant</h3>
                            <div class="time">January 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Grinnell College; Grinnell, IA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>* I mentor peeps.</p>  
                        <p>* I mentor 27 peeps. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Biostatistics Research Intern</h3>
                            <div class="time">May - August 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Columbia University; New York City, NY</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>* I learned biostatistics. </p>
                        <p>* I learned a lot of biostatistics. </p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->